<!DOCTYPE html>

<html lang="en">
    <header>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <style>
            .section {
                padding: 0.5rem 2rem 1rem 2rem;
            }
        </style>
        <title>
            Log In
        </title>
    </header>
    <body style="color: rgb(61, 109, 199);">
        <center><header class="section" style="font-size: xx-large;" style="text-align: center;">LOG IN</header></center>
        <form action="/" method="post">
            <center><div class="section">
                <input class="form-control mx-auto w-auto" name="username" id="username" type="text" placeholder="Username" autocomplete="off">
            </div>
            <div class="section">
                <input class="form-control mx-auto w-auto" name="password" id="password" type="password" placeholder="Password">
            </div></center>
            <center><button class="btn btn-outline-primary" type="submit">Log In</button></center>


        </form>
    </body>
</html>